<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlxc.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="com.jlxc.app.base.app.JLXCApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7ad1a3106acafa0b0f3fc9d4c5441f85" />

        <!--
        <activity
            android:name="com.jlxc.app.demo.ui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name="com.jlxc.app.demo.ui.activity.NextActivity" >
        </activity>

        <!-- liufeihui 添加 NewsDetailActivity -->

        <activity android:name="com.jlxc.app.base.ui.activity.MainTabActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jlxc.app.login.ui.activity.SecondLoginActivity" >
        </activity>
        <activity android:name="com.jlxc.app.login.ui.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.jlxc.app.login.ui.activity.SelectSchoolActivity" >
        </activity>
        <activity android:name="com.jlxc.app.login.ui.activity.RegisterInformationActivity" >
        </activity>
        <activity android:name="com.jlxc.app.base.ui.activity.BigImgLookActivity" >
        </activity>
        <activity android:name="com.jlxc.app.news.ui.activity.CampusAllPerson" >
        </activity>
        <activity android:name="com.jlxc.app.news.ui.activity.NewsDetailActivity" >
        </activity>
        <activity android:name="com.jlxc.app.personal.ui.activity.OtherPersonalActivity" >
        </activity>
    </application>

</manifest>